In [8]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
from sqlalchemy_utils import create_database, database_exists
pymysql.install_as_MySQLdb()
connection = "mysql+pymysql://root:AishiteruLyrahx2!@localhost/Books"
engine = create_engine(connection)
q = """show tables;"""
pd.read_sql(q, engine)

Empty DataFrame
Columns: [Tables_in_books]
Index: []

In [12]:
USERS = pd.read_csv('DATA/Users.csv')
df.head()

   id first_name  last_name                 email
0   1       John        Doe          JD@books.com
1   2      Robin      Smith       Robin@books.com
2   3     Gloria  Rodriguez  grodriquez@books.com

In [13]:
if database.exists(connection) == False: create_database(connection)
else: print('The database already exists.')

NameError: name 'database' is not defined

In [ ]:
df = pd.read_csv('')
df.head()